.filter-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
mat-form-field {
flex: 1;
min-width: 200px;
}

button {
margin-top: 16px;
}

.toggle-group-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  mat-button-toggle-group {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;

    mat-button-toggle {
      flex: 1;
      text-transform: uppercase;
    }
  }
}

.sidenav-container {
  height: 100%;
}

.filter-sidebar {
  height: 100%;
  width: 300px;
  padding: 10px;
  background-color: #fff;
}

.filter-header {
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  margin-bottom: 16px; 
  
  h3 {
    margin: 0; 
    flex: 1;  
  }
}


.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}