
@import url('https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/dark/main.css');

#viewDiv {
    height: 100vh; 
    width: 100%;  
  }

  .custom-popup {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 300px;
  }
  
  .custom-popup h3 {
    margin: 0;
    font-size: 18px;
    color: #2a85ca;
  }
  
  .popup-image img {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  .popup-details {
    margin-top: 10px;
  }
  
  .popup-details h4 {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .popup-details p {
    margin: 0;
    font-size: 13px;
    color: #444;
  }