
<!-- Top Toolbar -->
<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSidebar(sidenav)">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Ocean Analytics</h1>
</mat-toolbar>

<!-- Side Navigation Container -->
<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    [mode]="isExpanded ? 'side' : 'over'"
    [(opened)]="isExpanded"
    class="sidenav"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="closeSidebar()">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/map" routerLinkActive="active" (click)="closeSidebar()">
        <mat-icon>map</mat-icon> Map
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>