
<!-- Top Toolbar -->
<mat-toolbar color="primary" class="toolbar">
  <button mat-mini-fab (click)="toggleSidebar(sidenav)">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="custom-spacing">Ocean Analytics</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isExpanded ? 'side' : 'over'"
    [(opened)]="isExpanded"
    class="sidenav"
  >
    <mat-nav-list class="list-with-gap">
      <li mat-list-item>
        <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active" (click)="closeSidebar()" class="fixed-width-button">
          <mat-icon>home</mat-icon> Home
        </button>
      </li>
      <li mat-list-item>      
        <button mat-raised-button color="primary" routerLink="/map" routerLinkActive="active" (click)="closeSidebar()" class="fixed-width-button">
        <mat-icon>map</mat-icon> Map
      </button>
    </li>
    <li mat-list-item>      
        <button mat-raised-button color="primary" routerLink="/migration" routerLinkActive="active" (click)="closeSidebar()" class="fixed-width-button">
        <mat-icon>explore</mat-icon> Migration
      </button>
    </li>
      <li mat-list-item>      
        <button mat-raised-button color="primary" routerLink="/wiki" routerLinkActive="active" (click)="closeSidebar()" class="fixed-width-button">
        <mat-icon>table</mat-icon> Wiki
        </button>
      </li>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
    <footer class="footer">
      <p>&copy; 2025 Ocean Analytics - Tous droits réservés</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>