
  <div class="page-section">

  <section class="hero-section">
    <div class="hero-overlay">
      <h1 class="hero-title">Protect the Whales</h1>
      <h2 class="hero-subtitle">Together, we make a difference for their future</h2>
    </div>
  </section>

  <section class="whale-info padding-content">
    <div class="whale-cards">
      <mat-card *ngFor="let card of whaleCards; let i = index" 
          class="whale-card" 
          [ngClass]="getCardClass(i)">
          <img [src]="card.imageUrl" [alt]="card.title" />
          <div class="whale-card-content">
            <mat-card-header>
              <h2>{{ card.title }}</h2>
            </mat-card-header>
            <mat-card-content>
              <p>{{ card.description }}</p>
              <small>{{ card.statistic }}</small>
            </mat-card-content>
          </div>
        </mat-card>
    </div>
  </section>
  
  <section class="app-goals">
    <div class="goal-cards">
      <mat-card class="goal-card" *ngFor="let goal of appGoals">
        <mat-icon class="goal-icon" aria-hidden="false" [fontIcon]="goal.icon" aria-label="Goal icon"></mat-icon>
        <mat-card-header>
            <h2>{{ goal.title }}</h2>
          </mat-card-header>
          <mat-card-content>
            <p>{{ goal.description }}</p>
          </mat-card-content>
      </mat-card>
    </div>
  </section>
  
  <section class="app-features">
    <div class="feature-cards">
      <mat-card *ngFor="let feature of features" class="feature-card">
        <mat-card-header>
          <h2>{{ feature.title }}</h2>
        </mat-card-header>
        <mat-card-content>
          <p>{{ feature.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <basic-button [routerLink]="feature.link">See More</basic-button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section class="carousel-container">
    <h2>Taking the fight further</h2>
    <div class="carousel-wrapper">
      <mat-card class="carousel-card prev-card">
        <img [src]="marineOrgs[(currentIndex - 1 + marineOrgs.length) % marineOrgs.length].imageUrl" 
             [alt]="marineOrgs[(currentIndex - 1 + marineOrgs.length) % marineOrgs.length].name" 
             class="carousel-image" />
      </mat-card>

    <mat-card class="carousel-card main-card" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false"  (click)="openLink(marineOrgs[currentIndex].website)">
        <img [src]="marineOrgs[currentIndex].imageUrl" [alt]="marineOrgs[currentIndex].name" class="carousel-image" />
        <mat-card-content *ngIf="isHovered">
          <h3>{{ marineOrgs[currentIndex].name }}</h3>
          <p>{{ marineOrgs[currentIndex].description }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="carousel-card next-card">
      <img [src]="marineOrgs[(currentIndex + 1) % marineOrgs.length].imageUrl" 
           [alt]="marineOrgs[(currentIndex + 1) % marineOrgs.length].name" 
           class="carousel-image" />
    </mat-card>
  </div>
      <div class="carousel-controls">
        <button mat-button (click)="prevSlide()"> ❮ </button>
        <button mat-button (click)="nextSlide()"> ❯ </button>
      </div>
  </section>
  </div>