
.spacer {
    flex: 1 1 auto;
  }

.page-section {
    width: 100%
}

/* Section 1: Hero Section */
.hero-section {
    background-image: url('../../assets/images/home/whale-bg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .hero-title {
    font-size: 3rem;
    margin: 0;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
  }
  
  .whale-info {
    padding: 50px 0;
  }
  
  .whale-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .whale-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
  }
  
  .app-goals {
    padding: 50px 0;
    background-color: cyan;
  }
  
  .goal-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
  }
  
  .goal-card {
    display: flex;
    flex-direction: column;
  }
  
  .goal-icon {
    font-size: 4rem; 
    display: block;
    margin-bottom: 15px; 
  }
  
  
  .goal-card h3 {
    margin-top: 10px;
  }
  
  .app-features {
    padding: 50px 0;
  }
  
  .feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .feature-card mat-card-title {
    font-size: 1.25rem;
  }
  
  .feature-card mat-card-content {
    margin-bottom: 20px;
  }
  
  