
.spacer {
    flex: 1 1 auto;
  }

.page-section {
    width: 100%
}

/* Section 1: Hero Section */
.hero-section {
    background-image: url('../../assets/images/home/whale-bg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .hero-overlay {
    background: rgba(99,185,219, 0.5);
    padding: 20px;
  }
  
  .hero-title {
    font-size: 3rem;
    margin: 0;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
  }
  
  .whale-info {
    padding: 50px 0;
    h2 {
        background-color: rgba(99,185,219);
        background-blend-mode: darken;
        color: #ffffff;
      }
  }
  
  .whale-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .whale-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .whale-card {
    background-color: #ffffff; 
  }
  
  .blue-card {
    background-color: rgba(99,185,219);
    color: #ffffff; 
  }
  
  .app-goals {
    background-color: rgba(99,185,219);
  }
  
  .goal-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
  }
  
  .goal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 16px;
  }
  
  .goal-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(99,185,219, 0.35);
    color: #ffffff;
    text-align: center;
    line-height: 64px;
  }

  .padding-content {
    padding: 16px;
  }
  
  .goal-card h3 {
    margin-top: 10px;
  }
  
  .app-features {
    padding: 50px 0;
  }
  
  .feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .feature-card mat-card-title {
    font-size: 1.25rem;
  }
  
  .feature-card mat-card-content {
    margin-bottom: 20px;
  }
  
  